.nav-container {
  background-color: #ecf0f1;
}

nav {
  position: sticky;
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    flex: 2;
    position: relative;
  }
}

.nav-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      padding: 0rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
      a:hover {
        transition: all 0.2s ease;
        color: $primary-color;
      }
      i {
        padding: 0rem 0.5rem;
        font-size: 2rem;
        color: $secondary-color;
      }
    }
  }
}

input {
  outline: none;
  margin: 0 2rem;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 5px 10px 5px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: 130px;
  background-color: #fff;
  border-color: $primary-color;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

@media only screen and (max-width: 1000px) {
  nav {
    position: relative;
    width: 100%;
    flex-direction: column;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    #logo {
      flex: 1;
    }
    .nav-content {
      flex-direction: column;
      justify-content: space-between;
      ul {
        flex: 1;
        li {
          i {
            display: none;
          }
        }
      }
    }
  }
}
