.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
  background-color: #fff;
  padding: 0px 10%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      margin: 2% 0;
      font-size: 4.5rem;
      font-weight: 500;
      color: #e53935;
    }
    .contact-details {
      font-size: 1.5rem;
      a {
        color: #1b1b1b;
        font-size: 1.5rem;
        font-weight: 400;
        &:hover {
          color: #e53935;
        }
      }
      .hero-button {
        margin: 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
        border: 1px solid #e53935;
        padding: 5px 0px;
        border-radius: 20px;

        color: #e53935;
      }
      .hero-button:hover {
        background-color: #e53935;
        color: #fff;
        transition: 0.3s all ease;
      }
    }
    .contact-links {
      ul {
        display: flex;
        li {
          width: 50px;
          height: 50px;
          /*background-color: #e53935;*/
          border: 2px solid #1b1b1b;
          margin: 10px;
          list-style: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          a {
            color: #1b1b1b;
            font-size: 1.5rem;
            z-index: 1;
          }
        }
        li:hover {
          border: 2px solid #e53935;
        }
        li:hover a {
          color: #e53935;
        }
        li::before {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
          background-color: #e53935;
          border-radius: 50%;
          transition: all 0.3s;
          opacity: 0;
        }
        li:hover::before {
          opacity: 1;
          transform: scale(0.8);
        }
        li:hover a {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    div {
      .contact-links {
        ul {
          li {
            width: 30px;
            height: 30px;
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
