.landing {
  height: 100vh;
  width: 100%;
  background: white;
  background-image: radial-gradient(#e53935 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  animation: back-anim 4s infinite ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    text-align: left;
    font-size: 5rem;
    font-weight: 500;
    color: #111;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    animation: font-color 4s infinite ease;
    overflow: hidden;
    position: relative;
  }
  .logo::after {
    content: "EXPLORE";
    position: absolute;
    bottom: 0;
    padding: 20px 0px;
    color: #e53935;
    font-weight: 600;
    font-size: 1.5rem;
    animation: move-up-down 2s ease-in-out infinite;
  }
}

@keyframes move-up-down {
  0% {
    transform: translate(0%, -5%);
  }
  50% {
    transform: translate(0%, 5%);
  }
  100% {
    transform: translate(0%, -5%);
  }
}

span {
  position: absolute;
  background: #121212;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    opacity: 0.5;
    height: 0px;
  }
  100% {
    width: 1600px;
    opacity: 0;
    height: 1600px;
  }
}

@keyframes back-anim {
  0% {
    background-image: radial-gradient(#e53935 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
  50% {
    background-image: radial-gradient(#141141 1px, transparent 0);
    background-size: 39px 39px;
  }
  100% {
    background-image: radial-gradient(#e53935 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
}

@keyframes font-color {
  0% {
    color: #1b1b1b;
  }
  60% {
    color: #e53935;
  }
  100% {
    color: #1b1b1b;
  }
}

@media only screen and (max-width: 1000px) {
  .landing {
    .logo {
      position: relative;
      font-size: 8rem;
      width: 450px;
      height: 450px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .landing {
    .logo {
      position: relative;
      font-size: 3rem;
      width: 250px;
      height: 250px;
    }
  }
}
