main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  .content-full {
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      width: 80%;
      padding: 100px 0px;
      color: #e53935;
      font-size: 10rem;
      font-weight: 300;
    }
    .text-content {
      width: 80%;
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
    }
    .project-content {
      width: 80%;
      color: #fff;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      div {
        flex: 1;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
  .content-full:nth-child(even) {
    background-color: #141414;
  }
  .content-full:nth-child(odd) {
    background-color: #1b1b1b;
  }
}

@media only screen and (max-width: 1000px) {
  .project-content {
    flex-direction: column;
  }
  main {
    .content-full {
      text-align: center;
      .title {
        font-size: 7rem;
      }
    }
  }
}
