.nav-bar {
  width: 100%;
  margin: auto;
  min-height: 10vh;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .title {
    padding: 0px 20px;
    a {
      font-size: 3rem;
      font-weight: 500;
      color: #e53935;
    }
  }

  ul {
    padding: 0px 20px;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    li {
      a {
        color: #121212;
        padding: 0px 10px;
        font-size: 2rem;
        transition: 0.3s ease;
      }
      a:hover {
        color: #e53935;
        transition: 0.3s ease;
      }
    }
    .hero-button {
      transition: 0.3s all ease;
      background-color: #e53935;
      border: 1px solid #e53935;
      padding: 10px 0px;
      border-radius: 20px;
      a {
        font-size: 1.5rem;
        color: #fff;
      }
      a:hover {
        color: #fff;
      }
    }
    .hero-button:hover {
      background-color: #ffff;
      transition: 0.3s all ease;
      border: 1px solid #e53935;
      a {
        color: #e53935;
      }
    }
  }
}

.nav-bar ul li a::before {
  content: "";
  position: absolute;
  background: #1b1b1b;
  padding: 50%;
  border-radius: 50%;
  left: calc(1% * var(--ripple-x));
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.nav-bar ul li a:active::before {
  transition: 0s;
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(1);
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    transition: 0s;
    opacity: 1;
    display: none;
  }
}
