.nav-wrapper {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}
.nav-bar {
  width: 100%;
  margin: auto;
  min-height: 10vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .title {
    padding: 0px 20px;
    a {
      font-size: 3rem;
      font-weight: 500;
      color: #e53935;
    }
  }

  ul {
    padding: 0px 20px;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    li {
      a {
        color: #121212;
        padding: 0px 10px;
        font-size: 2rem;
        transition: 0.3s ease;
      }
      a:hover {
        color: #e53935;
        transition: 0.3s ease;
      }
    }
    .hero-button {
      transition: 0.3s all ease;
      background-color: #e53935;
      border: 1px solid #e53935;
      padding: 10px 0px;
      border-radius: 20px;
      a {
        font-size: 1.5rem;
        color: #fff;
      }
      a:hover {
        color: #fff;
      }
    }
    .hero-button:hover {
      background-color: #ffff;
      transition: 0.3s all ease;
      border: 1px solid #e53935;
      a {
        color: #e53935;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    transition: 0s;
    opacity: 1;
    display: none;
  }
}
