.skill-content {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding-bottom: 10%;
  .col {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .title {
        font-size: 2rem;
        color: #fff;
      }
      .skillbar {
        width: 100%;
        height: 7px;
        background-color: #fff;
        .fill {
          height: 100%;
          background-color: #e53935;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .skill-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    .col {
      text-align: left;
      width: 100%;
    }
  }
}
