*,
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  color: #e53935;
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    font-size: 50%;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.loader-wrapper .loader-box {
  position: relative;
  background-color: #fff;
  border: 0.25rem solid #fff;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
}

.loader-wrapper .loader-box::before {
  content: "S";
  font-family: "Lobster", cursive;
  color: #e53935;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-wrapper .loader-box::after {
  content: "";
  position: absolute;
  background-color: #e53935;
  height: 200%;
  width: 200%;
  bottom: -50%;
  left: -50%;
  border-radius: 45%;
  -webkit-animation: spin 4s ease-in-out infinite;
          animation: spin 4s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(500deg);
            transform: translateY(-100%) rotate(500deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(500deg);
            transform: translateY(-100%) rotate(500deg);
  }
}

.landing {
  height: 100vh;
  width: 100%;
  background: white;
  background-image: radial-gradient(#e53935 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  -webkit-animation: back-anim 4s infinite ease-in;
          animation: back-anim 4s infinite ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .logo {
  text-align: left;
  font-size: 5rem;
  font-weight: 500;
  color: #111;
  height: 400px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  -webkit-animation: font-color 4s infinite ease;
          animation: font-color 4s infinite ease;
  overflow: hidden;
  position: relative;
}

.landing .logo::after {
  content: "EXPLORE";
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
  color: #e53935;
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-animation: move-up-down 2s ease-in-out infinite;
          animation: move-up-down 2s ease-in-out infinite;
}

@-webkit-keyframes move-up-down {
  0% {
    -webkit-transform: translate(0%, -5%);
            transform: translate(0%, -5%);
  }
  50% {
    -webkit-transform: translate(0%, 5%);
            transform: translate(0%, 5%);
  }
  100% {
    -webkit-transform: translate(0%, -5%);
            transform: translate(0%, -5%);
  }
}

@keyframes move-up-down {
  0% {
    -webkit-transform: translate(0%, -5%);
            transform: translate(0%, -5%);
  }
  50% {
    -webkit-transform: translate(0%, 5%);
            transform: translate(0%, 5%);
  }
  100% {
    -webkit-transform: translate(0%, -5%);
            transform: translate(0%, -5%);
  }
}

span {
  position: absolute;
  background: #121212;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    width: 0px;
    opacity: 0.5;
    height: 0px;
  }
  100% {
    width: 1600px;
    opacity: 0;
    height: 1600px;
  }
}

@keyframes animate {
  0% {
    width: 0px;
    opacity: 0.5;
    height: 0px;
  }
  100% {
    width: 1600px;
    opacity: 0;
    height: 1600px;
  }
}

@-webkit-keyframes back-anim {
  0% {
    background-image: radial-gradient(#e53935 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
  50% {
    background-image: radial-gradient(#141141 1px, transparent 0);
    background-size: 39px 39px;
  }
  100% {
    background-image: radial-gradient(#e53935 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
}

@keyframes back-anim {
  0% {
    background-image: radial-gradient(#e53935 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
  50% {
    background-image: radial-gradient(#141141 1px, transparent 0);
    background-size: 39px 39px;
  }
  100% {
    background-image: radial-gradient(#e53935 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
}

@-webkit-keyframes font-color {
  0% {
    color: #1b1b1b;
  }
  60% {
    color: #e53935;
  }
  100% {
    color: #1b1b1b;
  }
}

@keyframes font-color {
  0% {
    color: #1b1b1b;
  }
  60% {
    color: #e53935;
  }
  100% {
    color: #1b1b1b;
  }
}

@media only screen and (max-width: 1000px) {
  .landing .logo {
    position: relative;
    font-size: 8rem;
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .landing .logo {
    position: relative;
    font-size: 3rem;
    width: 250px;
    height: 250px;
  }
}

main {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

main .content-full {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content-full .title {
  width: 80%;
  padding: 100px 0px;
  color: #e53935;
  font-size: 10rem;
  font-weight: 300;
}

main .content-full .text-content {
  width: 80%;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

main .content-full .project-content {
  width: 80%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content-full .project-content div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content-full:nth-child(even) {
  background-color: #141414;
}

main .content-full:nth-child(odd) {
  background-color: #1b1b1b;
}

@media only screen and (max-width: 1000px) {
  .project-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .content-full {
    text-align: center;
  }
  main .content-full .title {
    font-size: 7rem;
  }
}

/* width */
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  -webkit-box-shadow: inset 0 0 5px #414141;
          box-shadow: inset 0 0 5px #414141;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #e53935;
  border-radius: 10px;
}

html {
  scrollbar-color: #e53935 #1b1b1b;
  /* thumb and track color */
  scrollbar-width: thin;
}

#content {
  margin-top: 50px;
  text-align: center;
}

/* Timeline */
.timeline {
  border-left: 4px solid #e53935;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: auto;
  font-size: 3rem;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}

.timeline .event p {
  padding: 5px 0px;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.678);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 4px #e53935;
          box-shadow: 0 0 0 4px #e53935;
  left: -57.85px;
  background: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

@media only screen and (max-width: 1000px) {
  .timeline {
    border: none;
    max-width: 100%;
    margin: 0 auto;
  }
  .timeline .event:after {
    display: none;
  }
  .timeline .event:before {
    display: none;
  }
  #content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10%;
}

.skill-content .col {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skill-content .col .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-content .col .card .card-title {
  padding: 4rem 0rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-content .col .card .card-title strong {
  color: #e53935;
  font-size: 3rem;
  font-weight: 300;
}

.skill-content .col .card .skillbar {
  width: 100%;
  height: 7px;
  margin-bottom: 2rem;
  background-color: #fff;
}

.skill-content .col .card .skillbar .fill {
  height: 100%;
  background-color: #e53935;
}

@media only screen and (max-width: 1000px) {
  .skill-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .skill-content .col {
    text-align: left;
    width: 100%;
  }
  .skill-content .col .card {
    max-height: 200px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  width: 20%;
  background-color: #fff;
  color: #141414;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

input[type="submit"]:hover {
  color: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #e53935;
}

.contact-me {
  font-size: 4rem;
  width: 80%;
  padding: 20px;
}

.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-bar {
  width: 100%;
  margin: auto;
  min-height: 10vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nav-bar .title {
  padding: 0px 20px;
}

.nav-bar .title a {
  font-size: 3rem;
  font-weight: 500;
  color: #e53935;
}

.nav-bar ul {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar ul li a {
  color: #121212;
  padding: 0px 10px;
  font-size: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-bar ul li a:hover {
  color: #e53935;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-bar ul .hero-button {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background-color: #e53935;
  border: 1px solid #e53935;
  padding: 10px 0px;
  border-radius: 20px;
}

.nav-bar ul .hero-button a {
  font-size: 1.5rem;
  color: #fff;
}

.nav-bar ul .hero-button a:hover {
  color: #fff;
}

.nav-bar ul .hero-button:hover {
  background-color: #ffff;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: 1px solid #e53935;
}

.nav-bar ul .hero-button:hover a {
  color: #e53935;
}

@media only screen and (max-width: 1000px) {
  .nav-bar {
    -webkit-transition: 0s;
    transition: 0s;
    opacity: 1;
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 20vh;
  background-color: #fff;
  padding: 0px 10%;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer div .title {
  margin: 2% 0;
  font-size: 4.5rem;
  font-weight: 500;
  color: #e53935;
}

.footer div .contact-details {
  font-size: 1.5rem;
}

.footer div .contact-details a {
  color: #1b1b1b;
  font-size: 1.5rem;
  font-weight: 400;
}

.footer div .contact-details a:hover {
  color: #e53935;
}

.footer div .contact-details .hero-button {
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  border: 1px solid #e53935;
  padding: 5px 0px;
  border-radius: 20px;
  color: #e53935;
}

.footer div .contact-details .hero-button:hover {
  background-color: #e53935;
  color: #fff;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.footer div .contact-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer div .contact-links ul li {
  width: 50px;
  height: 50px;
  /*background-color: #e53935;*/
  border: 2px solid #1b1b1b;
  margin: 10px;
  list-style: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer div .contact-links ul li a {
  color: #1b1b1b;
  font-size: 1.5rem;
  z-index: 1;
}

.footer div .contact-links ul li:hover {
  border: 2px solid #e53935;
}

.footer div .contact-links ul li:hover a {
  color: #e53935;
}

.footer div .contact-links ul li::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #e53935;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.footer div .contact-links ul li:hover::before {
  opacity: 1;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.footer div .contact-links ul li:hover a {
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer div .contact-links ul li {
    width: 30px;
    height: 30px;
  }
  .footer div .contact-links ul li a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */