*,
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
a:hover {
  color: #e53935;
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    font-size: 50%;
  }
}

@import "loader";
@import "landing";
@import "maincontainer";
@import "scrollbar";
@import "timeline";
@import "skills";
@import "contact";
@import "nav";
@import "footer";
